extends layout

block content

    .row
        .jumbotron(style='padding: 1em;')
            img(src='code-metrics.png', height='128', align='left')
            h1
                b code-metrics
            p Compute code metrics for various languages (well, just C++ for now)

    .row

        form(role='form', method='POST', action='/'+uuid)

            input(type='hidden', name='code', value='')
            #editor(class='form-control', style='margin-bottom: 12px;')

            .row

                .col-xs-2

                    select(class='form-control')
                        option(value='c') C
                        option(value='cpp', selected='selected') C++
                        option(value='py') Python
                        option(value='js') Javascript
                        option(value='rb') Ruby

                .col-xs-10

                    .text-right
                        button.btn.btn-primary(type='submit')
                            i.fa.fa-fw.fa-paper-plane-o
                            span &nbsp; Submit

    script.
        start_index()

