h1.page-header About

p.
    code-metrics.jutge.org computes several code metrics of programs written in various programming languages. Code metrics include number of lines of code, number of tokens, number of comments, McCabe's cyclomatic complexity number (ccn) and Halstead's difficuly (dif). Some of these metrics are computed for each of the functions of the program. Please note that programs are not compiled.


h1.page-header Disclaimer

p.
    Jutge.org, UPC and the code-metrics authors are furnishing this online service and its results "as is". Jutge.org, UPC and the code-metrics authors do not provide any warranty of the item whatsoever, whether express, implied, or statutory, including, but not limited to, any warranty of merchantability or fitness for a particular purpose or any warranty that the service will be error-free.

p.
    In no respect shall Jutge.org, UPC nor code-metrics authors incur any liability for any damages, including, but limited to, direct, indirect, special, or consequential damages arising out of, resulting from, or any way connected to the use of this service, whether or not based upon warranty, contract, tort, or otherwise; whether or not injury was sustained by persons or property or otherwise; and whether or not loss was sustained from, or arose out of, the results of, the item, or any services that may be provided by UPC or Jutge.org.